.a-button {
  font-size: 14px; }

.t-title {
  font-size: 16px; }

.a-button.f-deep-menu, .t-title {
  font-weight: bold; }

.a-button {
  width: 150px;
  height: 32px;
  padding: 2px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #4c4c4c;
  color: white;
  border: solid 1px #4c4c4c;
  outline: none; }
  .a-button:hover {
    background-color: white;
    color: #4c4c4c;
    border: solid 1px; }

.a-button-container {
  margin-right: 25px;
  display: inline-block; }
  .a-button-container:nth-child(n+3) {
    margin-right: 0; }

.a-button-container.f-recive-goods {
  height: 150px;
  padding-top: 70px;
  width: 900px; }

.a-button-container.f-single {
  width: 300px;
  margin: 0; }

.a-button.f-deep-menu {
  width: 250px;
  height: 40px;
  margin: 0;
  padding: 10px;
  margin-bottom: 20px; }

.a-form-container {
  display: inline-block; }

.a-button {
  height: 50px;
  width: 250px; }

.a-input {
  width: 150px; }

.a-input-container {
  width: 600px;
  display: grid;
  height: 40px;
  padding-right: 5px;
  grid-template-columns: 200px 20px 320px 15px; }

.a-input-container.f-data {
  width: 800px;
  padding-right: 0px;
  grid-template-columns: 200px 600px;
  margin-left: auto;
  margin-right: auto; }

.a-input-recive-goods {
  width: 194px;
  margin-left: 10px; }

.a-radio-single {
  width: 250px;
  display: inline-block;
  padding-left: 24px; }

.a-select {
  width: 200px; }

.a-select-container {
  display: inline-block;
  margin-left: 10px;
  width: 200px; }

.a-select-label {
  width: 500px;
  text-align: right;
  display: block; }

.a-user-container {
  width: 200px;
  height: 50px;
  display: inline-block; }

.m-login-title {
  width: 300px;
  height: 50px;
  padding-top: 25px; }

.o-buttons {
  background-color: lightgray;
  width: 850px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px; }

.o-login-container {
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  text-align: center;
  padding-right: 50px; }

body {
  background: lightgray; }

#app {
  font-family: 'Source Sans Pro', sans-serif; }

.t-data {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.t-data.f-table {
  width: 900px; }

.t-title {
  height: 50px;
  padding-left: 20px; }
