.a-button-container {
  margin-right: 25px;
  display: inline-block; }
  .a-button-container:nth-child(n+3) {
    margin-right: 0; }

.a-button {
  height: 50px;
  width: 250px; }

.a-input {
  width: 150px; }

.a-user-container {
  width: 200px;
  height: 50px;
  display: inline-block; }

.m-login-title {
  width: 300px;
  height: 50px;
  padding-top: 25px; }

.o-buttons {
  background-color: lightgray;
  width: 850px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px; }

.o-login-container {
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  text-align: center;
  padding-right: 50px; }

body {
  background: lightgray; }

#app {
  font-family: 'Source Sans Pro', sans-serif; }
